.container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFF;
    font-family: sans-serif;
  }
  
.heading {
 color: rebeccapurple;
}

.nav-links {
 display: flex;
 list-style: none;
 padding-left: 0;
}

.nav-link-item {
 padding-right: 2rem;
}

.nav-link-text {
 color: black;
}

.site-title {
    font-size: 3rem;
    color: black;
    font-weight: 700;
    margin: 3rem 0;
  }

body {
  background-color: #6a8dba;
}
